<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../images/flower-icon.png"/>
    <link rel="stylesheet" type="text/css" href="../vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">
    
    <div class="centered-container">
        <h1 class="decorated-title font-secondary main-color">Update <span class="main-color-emphasized">
                            Existing</span> Category</h1>
        <div class="separator"></div>
    </div>
    <section class="section secondary-color-bg">
        <div class="container">
            
			<form action="/management/updatecategory" method="POST">
                <fieldset>
                    
                    
                    <div><label for="category">Category:</label>
                        
                        <%- include(`partials/_select`); %></div>
                    
                    <div><label for="newname">New name:</label> <input type="text" name="newname" id="newname"></div>
                    
                    <div><label for="description">Description:</label> <input type="text" name="description" id="description"></div>
                    <div><label for="seasonal">Seasonal:</label> 
                    <input type="radio" name="seasonal" id="description" value="yes">Yes
                    <input type="radio" name="seasonal" id="description" value="no">No</div>
                    

                    <hr>
                    <div class="submitButtons">
                        <input type="submit" value="Submit">
                        <input type="reset" value="Reset">
                    </div>
                </fieldset>
            </form>
            
        </div>
    </section>
</main>

<%- include(`partials/footer`); %>

</body>

</html>